@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.nav_items {
  margin-right: 14px;
  color: #ffffff8c;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.nav_items:hover {
  color: #ffffffbf;
}

.fontlato {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inputfocus:focus {
  background-color: transparent;
  /* border-color: #a3d39c; */
  /* box-shadow: 0 0 0 0.1rem #a3d39c; */
  border-color: #68a3de;
  box-shadow: 0 0 0 0.1rem #68a3de;
  background: #fff;
}

@keyframes modalShowIn {
  0% {
    transform: translateY(50%);
    opacity: 0.1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalShowOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animate-modal {
  transition: transform 0.2s ease;
  transition: opacity 0.2s ease;
  animation: modalShowIn 0.2s ease;
}

.animate-modal-removal {
  transition: transform 0.2s ease;
  transition: opacity 0.2s ease;
  animation: modalShowOut 0.2s ease;
}

@keyframes blurAnimationIn {
  0% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}

.animate-bg-modal {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: backdrop-filter 0.2s ease;
  animation: blurAnimationIn 0.2s ease;
}

.animate-bg-modal-removal {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

body {
  background-color: #fff;
  overflow-x: hidden;
}
