@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.nav_items {
  margin-right: 14px;
  color: #ffffff8c;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.nav_items:hover {
  color: #ffffffbf;
}

.fontlato {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inputfocus:focus {
  background-color: transparent;
  /* border-color: #a3d39c; */
  /* box-shadow: 0 0 0 0.1rem #a3d39c; */
  border-color: #68a3de;
  box-shadow: 0 0 0 0.1rem #68a3de;
  background: #fff;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}
